</main>
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>

  <h4>Let's Connect</h4>
  <p class="f_connect">I am always open to collaborations, discussions, and new opportunities. Whether you're looking for a dynamic backend developer or someone with a budding interest in blockchain technology, I am eager to contribute my skills and enthusiasm to innovative projects.

  </p>
  <ul class="social_icon">
    <li><a href="https://twitter.com/Keshav10740858?t=h1fDasR6Nk732kwhQIzAVA&s=09"><ion-icon name="logo-twitter"></ion-icon></a></li>
    <li><a href="https://www.linkedin.com/in/keshav-728868254/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    <li><a href="https://www.instagram.com/gogia.keshav/"><ion-icon name="logo-instagram"></ion-icon></a></li>
    <li><a href="https://github.com/KeshavGogia"><ion-icon name="logo-github"></ion-icon></a></li>
    <li><a href="https://leetcode.com/keshavgogia510/"><ion-icon name="code-slash-outline"></ion-icon></a></li>

  </ul>


  <p class="copyright"> Made by Keshav</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>