<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/keshav.jpg" alt="profile_picture">
<p>

 Greetings! I'm Keshav, currently immersed in the world of technology as I pursue a Bachelors of Technology in <strong>Computer Engineering</strong> from <strong>Thapar Institute of Engineering and Technology</strong> . My passion lies in the intricate realm of backend development.<br>

</p>


<h4>Technical Proficiency</h4>
 <p>As a backend developer, I bring to the table a strong command of programming languages and frameworks essential for building scalable and secure applications. My skill set includes  languages such as Javascript and C++, coupled with a keen understanding of databases, server-side scripting, and API development.<br>



<h4>Areas of Interest</h4>
 <p>Beyond the conventional, I have a keen interest in cutting-edge technologies such as Blockchain and DevOps. Blockchain, with its decentralized and secure nature, fascinates me as it reshapes the landscape of various industries. On the other hand, DevOps, with its emphasis on collaboration and automation, captivates my interest in streamlining and optimizing development processes.<br>

</p>


