<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/keshav.jpg" alt="profile_picture">
<p>

 Greetings! I'm Keshav, currently immersed in the world of technology as I pursue a Bachelors of Technology in <strong>Computer Engineering</strong> from <strong>Thapar Institute of Engineering and Technology</strong> . My passion lies in the intricate realm of backend development.<br>

</p>


<h4>Technical Proficiency</h4>
 <p>As a backend developer, I bring to the table a strong command of programming languages and frameworks essential for building scalable and secure applications. My skill set includes  languages such as Javascript and C++, coupled with a keen understanding of databases, server-side scripting, and API development.<br>



<h4>Blockchain Enthusiast</h4>
 <p>Beyond traditional backend development, I have delved into the exciting world of blockchain technology. My curiosity has led me to grasp the basics of blockchain, exploring its potential to revolutionize the way we handle transactions, data security, and decentralized applications.<br>

</p>


