<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/keshav.jpg" alt="profile_picture">
<p>
 Hi! I am Keshav. I am pursuing Bachelors of Technology in <strong>Computer Engineering</strong>  from <strong>Thapar Institute of Engineering and Technology.<br>
  I have good knowledge in :
  <ul>
    <li>C</li>
    <li>C++</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Node.js</li>
    <li>Express.js</li>
  </ul>
</p></strong>
  <%- include("partials/footer.ejs") %>