<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p> <br>
  Hi! I am<b><em> Keshav </em> </b> , an undergrad and a<strong> Full Stack Web Devloper</strong>  
  </p>


  <%- include("partials/footer.ejs") %>